MONGO_URI=mongodb+srv://Iamawinner:Iamawinner@cluster0.exrfvsr.mongodb.net/jaadlogistics?retryWrites=true&w=majority&authSource=admin
JWT_SECRET=jaad_super_secret_key_2026_joseph
ADMIN_PASS=jaad2026
EMAIL_USER=
EMAIL_PASS=
PORT=3000
